# Ignore LaTeX output files
*.log
*.out
*.aux
*.fls
*.ind
*.idx
*.ilg
*.fdb_latexmk
*.pdf
*.dvi
*.toc
*.bbl
*.blg
*.bcf
*.acn
*.ist
*.run.xml
*.nav
*.snm
*.vrb

*.glo
*.gls
*.glsdefs
*.xdy

# Data file for histogram
*.dat
# Histogram plot
*.png
